<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>xuchuSkillt18.png</key>
			<dict>
				<key>width</key>
				<integer>241</integer>
				<key>height</key>
				<integer>243</integer>
				<key>originalWidth</key>
				<integer>241</integer>
				<key>originalHeight</key>
				<integer>243</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>xuchuSkillt17.png</key>
			<dict>
				<key>width</key>
				<integer>241</integer>
				<key>height</key>
				<integer>243</integer>
				<key>originalWidth</key>
				<integer>241</integer>
				<key>originalHeight</key>
				<integer>243</integer>
				<key>x</key>
				<integer>243</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>xuchuSkillt16.png</key>
			<dict>
				<key>width</key>
				<integer>241</integer>
				<key>height</key>
				<integer>243</integer>
				<key>originalWidth</key>
				<integer>241</integer>
				<key>originalHeight</key>
				<integer>243</integer>
				<key>x</key>
				<integer>486</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>xuchuSkillt1.png</key>
			<dict>
				<key>width</key>
				<integer>220</integer>
				<key>height</key>
				<integer>227</integer>
				<key>originalWidth</key>
				<integer>220</integer>
				<key>originalHeight</key>
				<integer>227</integer>
				<key>x</key>
				<integer>729</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>xuchuSkill3texiao0.png</string>
			<key>realTextureFileName</key>
			<string>xuchuSkill3texiao0.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>