*.apk
*.ap_
*.class
*.log
proj.android/bin/
proj.android/gen/
proj.android/obj/
proj.android/out/
*.slo
*.lo
*.o
*.o.d
*.obj
*.gcc
*.pch
xcuserdata/
runtime-src/proj.ios_mac/build
.DS_Store
src_et
anhui.zip
anhui.zip.enc
simulator
runSimulator.sh
src/app/UtilityTools.lua
assetsUpdate/UtilityTools.lua_0
publish
anhui_publish
frameworks
xsdk_unpack_script
luacompiles.sh
unpack_script
proj.linux
