<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>beijingtiaohong7.png</key>
			<dict>
				<key>width</key>
				<integer>1136</integer>
				<key>height</key>
				<integer>196</integer>
				<key>originalWidth</key>
				<integer>1136</integer>
				<key>originalHeight</key>
				<integer>196</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>beijingtiaohong4.png</key>
			<dict>
				<key>width</key>
				<integer>1136</integer>
				<key>height</key>
				<integer>219</integer>
				<key>originalWidth</key>
				<integer>1136</integer>
				<key>originalHeight</key>
				<integer>219</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>198</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>beijingtiaohong1.png</key>
			<dict>
				<key>width</key>
				<integer>1136</integer>
				<key>height</key>
				<integer>150</integer>
				<key>originalWidth</key>
				<integer>1136</integer>
				<key>originalHeight</key>
				<integer>150</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>419</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>beijingtiaohong6.png</key>
			<dict>
				<key>width</key>
				<integer>1136</integer>
				<key>height</key>
				<integer>189</integer>
				<key>originalWidth</key>
				<integer>1136</integer>
				<key>originalHeight</key>
				<integer>189</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>571</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>beijingtiaohong.png</key>
			<dict>
				<key>width</key>
				<integer>1136</integer>
				<key>height</key>
				<integer>201</integer>
				<key>originalWidth</key>
				<integer>1136</integer>
				<key>originalHeight</key>
				<integer>201</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>762</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>beijingtiaogong5.png</key>
			<dict>
				<key>width</key>
				<integer>1136</integer>
				<key>height</key>
				<integer>215</integer>
				<key>originalWidth</key>
				<integer>1136</integer>
				<key>originalHeight</key>
				<integer>215</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>965</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>beijingtiao10.png</key>
			<dict>
				<key>width</key>
				<integer>1136</integer>
				<key>height</key>
				<integer>222</integer>
				<key>originalWidth</key>
				<integer>1136</integer>
				<key>originalHeight</key>
				<integer>222</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1182</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>beijingtiaohong3.png</key>
			<dict>
				<key>width</key>
				<integer>1136</integer>
				<key>height</key>
				<integer>246</integer>
				<key>originalWidth</key>
				<integer>1136</integer>
				<key>originalHeight</key>
				<integer>246</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1406</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>beijingtiaohong2.png</key>
			<dict>
				<key>width</key>
				<integer>1136</integer>
				<key>height</key>
				<integer>197</integer>
				<key>originalWidth</key>
				<integer>1136</integer>
				<key>originalHeight</key>
				<integer>197</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1654</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>beijingfengsuxianhongse20.png</string>
			<key>realTextureFileName</key>
			<string>beijingfengsuxianhongse20.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>