<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>dizhiyouxi.png</key>
			<dict>
				<key>width</key>
				<integer>1136</integer>
				<key>height</key>
				<integer>38</integer>
				<key>originalWidth</key>
				<integer>1136</integer>
				<key>originalHeight</key>
				<integer>38</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>baogaungdiandl.png</key>
			<dict>
				<key>width</key>
				<integer>1026</integer>
				<key>height</key>
				<integer>659</integer>
				<key>originalWidth</key>
				<integer>1026</integer>
				<key>originalHeight</key>
				<integer>659</integer>
				<key>x</key>
				<integer>1138</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dengludaoguang -0_00010.png</key>
			<dict>
				<key>width</key>
				<integer>500</integer>
				<key>height</key>
				<integer>322</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>322</integer>
				<key>x</key>
				<integer>2166</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dengludaoguang -0_00000.png</key>
			<dict>
				<key>width</key>
				<integer>500</integer>
				<key>height</key>
				<integer>322</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>322</integer>
				<key>x</key>
				<integer>2668</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dengludaoguang -0_00001.png</key>
			<dict>
				<key>width</key>
				<integer>500</integer>
				<key>height</key>
				<integer>322</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>322</integer>
				<key>x</key>
				<integer>3170</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dengludaoguang -0_00002.png</key>
			<dict>
				<key>width</key>
				<integer>500</integer>
				<key>height</key>
				<integer>322</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>322</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>661</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dengludaoguang -0_00003.png</key>
			<dict>
				<key>width</key>
				<integer>500</integer>
				<key>height</key>
				<integer>322</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>322</integer>
				<key>x</key>
				<integer>502</integer>
				<key>y</key>
				<integer>661</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dengludaoguang -0_00004.png</key>
			<dict>
				<key>width</key>
				<integer>500</integer>
				<key>height</key>
				<integer>322</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>322</integer>
				<key>x</key>
				<integer>1004</integer>
				<key>y</key>
				<integer>661</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dengludaoguang -0_00005.png</key>
			<dict>
				<key>width</key>
				<integer>500</integer>
				<key>height</key>
				<integer>322</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>322</integer>
				<key>x</key>
				<integer>1506</integer>
				<key>y</key>
				<integer>661</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dengludaoguang -0_00006.png</key>
			<dict>
				<key>width</key>
				<integer>500</integer>
				<key>height</key>
				<integer>322</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>322</integer>
				<key>x</key>
				<integer>2008</integer>
				<key>y</key>
				<integer>661</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dengludaoguang -0_00007.png</key>
			<dict>
				<key>width</key>
				<integer>500</integer>
				<key>height</key>
				<integer>322</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>322</integer>
				<key>x</key>
				<integer>2510</integer>
				<key>y</key>
				<integer>661</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dengludaoguang -0_00008.png</key>
			<dict>
				<key>width</key>
				<integer>500</integer>
				<key>height</key>
				<integer>322</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>322</integer>
				<key>x</key>
				<integer>3012</integer>
				<key>y</key>
				<integer>661</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dengludaoguang -0_00009.png</key>
			<dict>
				<key>width</key>
				<integer>500</integer>
				<key>height</key>
				<integer>322</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>322</integer>
				<key>x</key>
				<integer>3514</integer>
				<key>y</key>
				<integer>661</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>LOGO2_00005.png</key>
			<dict>
				<key>width</key>
				<integer>920</integer>
				<key>height</key>
				<integer>543</integer>
				<key>originalWidth</key>
				<integer>920</integer>
				<key>originalHeight</key>
				<integer>543</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>985</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>LOGO2_00006.png</key>
			<dict>
				<key>width</key>
				<integer>920</integer>
				<key>height</key>
				<integer>543</integer>
				<key>originalWidth</key>
				<integer>920</integer>
				<key>originalHeight</key>
				<integer>543</integer>
				<key>x</key>
				<integer>922</integer>
				<key>y</key>
				<integer>985</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>LOGO2_00007.png</key>
			<dict>
				<key>width</key>
				<integer>920</integer>
				<key>height</key>
				<integer>543</integer>
				<key>originalWidth</key>
				<integer>920</integer>
				<key>originalHeight</key>
				<integer>543</integer>
				<key>x</key>
				<integer>1844</integer>
				<key>y</key>
				<integer>985</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>LOGO2_00008.png</key>
			<dict>
				<key>width</key>
				<integer>920</integer>
				<key>height</key>
				<integer>543</integer>
				<key>originalWidth</key>
				<integer>920</integer>
				<key>originalHeight</key>
				<integer>543</integer>
				<key>x</key>
				<integer>2766</integer>
				<key>y</key>
				<integer>985</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>LOGO2_00009.png</key>
			<dict>
				<key>width</key>
				<integer>920</integer>
				<key>height</key>
				<integer>543</integer>
				<key>originalWidth</key>
				<integer>920</integer>
				<key>originalHeight</key>
				<integer>543</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1530</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>LOGO2_00010.png</key>
			<dict>
				<key>width</key>
				<integer>920</integer>
				<key>height</key>
				<integer>543</integer>
				<key>originalWidth</key>
				<integer>920</integer>
				<key>originalHeight</key>
				<integer>543</integer>
				<key>x</key>
				<integer>922</integer>
				<key>y</key>
				<integer>1530</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>LOGO2_00011.png</key>
			<dict>
				<key>width</key>
				<integer>920</integer>
				<key>height</key>
				<integer>543</integer>
				<key>originalWidth</key>
				<integer>920</integer>
				<key>originalHeight</key>
				<integer>543</integer>
				<key>x</key>
				<integer>1844</integer>
				<key>y</key>
				<integer>1530</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>LOGO2_00012.png</key>
			<dict>
				<key>width</key>
				<integer>920</integer>
				<key>height</key>
				<integer>543</integer>
				<key>originalWidth</key>
				<integer>920</integer>
				<key>originalHeight</key>
				<integer>543</integer>
				<key>x</key>
				<integer>2766</integer>
				<key>y</key>
				<integer>1530</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>LOGO2_00013.png</key>
			<dict>
				<key>width</key>
				<integer>920</integer>
				<key>height</key>
				<integer>543</integer>
				<key>originalWidth</key>
				<integer>920</integer>
				<key>originalHeight</key>
				<integer>543</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>2075</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>LOGO2_00014.png</key>
			<dict>
				<key>width</key>
				<integer>920</integer>
				<key>height</key>
				<integer>543</integer>
				<key>originalWidth</key>
				<integer>920</integer>
				<key>originalHeight</key>
				<integer>543</integer>
				<key>x</key>
				<integer>922</integer>
				<key>y</key>
				<integer>2075</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>LOGO2_00015.png</key>
			<dict>
				<key>width</key>
				<integer>920</integer>
				<key>height</key>
				<integer>543</integer>
				<key>originalWidth</key>
				<integer>920</integer>
				<key>originalHeight</key>
				<integer>543</integer>
				<key>x</key>
				<integer>1844</integer>
				<key>y</key>
				<integer>2075</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>LOGO2_00016.png</key>
			<dict>
				<key>width</key>
				<integer>920</integer>
				<key>height</key>
				<integer>543</integer>
				<key>originalWidth</key>
				<integer>920</integer>
				<key>originalHeight</key>
				<integer>543</integer>
				<key>x</key>
				<integer>2766</integer>
				<key>y</key>
				<integer>2075</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>LOGO2_00017.png</key>
			<dict>
				<key>width</key>
				<integer>920</integer>
				<key>height</key>
				<integer>543</integer>
				<key>originalWidth</key>
				<integer>920</integer>
				<key>originalHeight</key>
				<integer>543</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>2620</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>LOGO2_00018.png</key>
			<dict>
				<key>width</key>
				<integer>920</integer>
				<key>height</key>
				<integer>543</integer>
				<key>originalWidth</key>
				<integer>920</integer>
				<key>originalHeight</key>
				<integer>543</integer>
				<key>x</key>
				<integer>922</integer>
				<key>y</key>
				<integer>2620</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>LOGO2_00019.png</key>
			<dict>
				<key>width</key>
				<integer>920</integer>
				<key>height</key>
				<integer>543</integer>
				<key>originalWidth</key>
				<integer>920</integer>
				<key>originalHeight</key>
				<integer>543</integer>
				<key>x</key>
				<integer>1844</integer>
				<key>y</key>
				<integer>2620</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>LOGO2.png</key>
			<dict>
				<key>width</key>
				<integer>920</integer>
				<key>height</key>
				<integer>543</integer>
				<key>originalWidth</key>
				<integer>920</integer>
				<key>originalHeight</key>
				<integer>543</integer>
				<key>x</key>
				<integer>2766</integer>
				<key>y</key>
				<integer>2620</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>denglvlubaodian0006.png</key>
			<dict>
				<key>width</key>
				<integer>350</integer>
				<key>height</key>
				<integer>350</integer>
				<key>originalWidth</key>
				<integer>350</integer>
				<key>originalHeight</key>
				<integer>350</integer>
				<key>x</key>
				<integer>3688</integer>
				<key>y</key>
				<integer>2620</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>yanwuyou.png</key>
			<dict>
				<key>width</key>
				<integer>1028</integer>
				<key>height</key>
				<integer>307</integer>
				<key>originalWidth</key>
				<integer>1028</integer>
				<key>originalHeight</key>
				<integer>307</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>3165</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>yanwuzuo.png</key>
			<dict>
				<key>width</key>
				<integer>566</integer>
				<key>height</key>
				<integer>211</integer>
				<key>originalWidth</key>
				<integer>566</integer>
				<key>originalHeight</key>
				<integer>211</integer>
				<key>x</key>
				<integer>1030</integer>
				<key>y</key>
				<integer>3165</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>guangdian.png</key>
			<dict>
				<key>width</key>
				<integer>67</integer>
				<key>height</key>
				<integer>69</integer>
				<key>originalWidth</key>
				<integer>67</integer>
				<key>originalHeight</key>
				<integer>69</integer>
				<key>x</key>
				<integer>1598</integer>
				<key>y</key>
				<integer>3165</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>liangliang.png</key>
			<dict>
				<key>width</key>
				<integer>28</integer>
				<key>height</key>
				<integer>20</integer>
				<key>originalWidth</key>
				<integer>28</integer>
				<key>originalHeight</key>
				<integer>20</integer>
				<key>x</key>
				<integer>1667</integer>
				<key>y</key>
				<integer>3165</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>huaban.png</key>
			<dict>
				<key>width</key>
				<integer>49</integer>
				<key>height</key>
				<integer>36</integer>
				<key>originalWidth</key>
				<integer>49</integer>
				<key>originalHeight</key>
				<integer>36</integer>
				<key>x</key>
				<integer>1697</integer>
				<key>y</key>
				<integer>3165</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>jiemianditu.png</key>
			<dict>
				<key>width</key>
				<integer>1142</integer>
				<key>height</key>
				<integer>640</integer>
				<key>originalWidth</key>
				<integer>1142</integer>
				<key>originalHeight</key>
				<integer>640</integer>
				<key>x</key>
				<integer>1748</integer>
				<key>y</key>
				<integer>3165</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>dengluliemian0.png</string>
			<key>realTextureFileName</key>
			<string>dengluliemian0.png</string>
			<key>size</key>
			<string>{4096,4096}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>4096</integer>
			<key>height</key>
			<integer>4096</integer>
		</dict>
	</dict>
</plist>