<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>beijingtiao9.png</key>
			<dict>
				<key>width</key>
				<integer>1135</integer>
				<key>height</key>
				<integer>158</integer>
				<key>originalWidth</key>
				<integer>1136</integer>
				<key>originalHeight</key>
				<integer>196</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>3</real>
			</dict>
			<key>beijingtiao6.png</key>
			<dict>
				<key>width</key>
				<integer>1135</integer>
				<key>height</key>
				<integer>209</integer>
				<key>originalWidth</key>
				<integer>1136</integer>
				<key>originalHeight</key>
				<integer>219</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>160</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>-5</real>
			</dict>
			<key>beijingtiao1.png</key>
			<dict>
				<key>width</key>
				<integer>1135</integer>
				<key>height</key>
				<integer>131</integer>
				<key>originalWidth</key>
				<integer>1136</integer>
				<key>originalHeight</key>
				<integer>150</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>371</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>-6.5</real>
			</dict>
			<key>beijingtiao8.png</key>
			<dict>
				<key>width</key>
				<integer>1135</integer>
				<key>height</key>
				<integer>163</integer>
				<key>originalWidth</key>
				<integer>1136</integer>
				<key>originalHeight</key>
				<integer>189</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>504</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>7</real>
			</dict>
			<key>beijingtiao.png</key>
			<dict>
				<key>width</key>
				<integer>1100</integer>
				<key>height</key>
				<integer>175</integer>
				<key>originalWidth</key>
				<integer>1136</integer>
				<key>originalHeight</key>
				<integer>201</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>669</integer>
				<key>offsetX</key>
				<real>-18</real>
				<key>offsetY</key>
				<real>-4</real>
			</dict>
			<key>beijingtiao7.png</key>
			<dict>
				<key>width</key>
				<integer>1135</integer>
				<key>height</key>
				<integer>196</integer>
				<key>originalWidth</key>
				<integer>1136</integer>
				<key>originalHeight</key>
				<integer>215</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>846</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>9.5</real>
			</dict>
			<key>beijingtiao4.png</key>
			<dict>
				<key>width</key>
				<integer>1135</integer>
				<key>height</key>
				<integer>217</integer>
				<key>originalWidth</key>
				<integer>1136</integer>
				<key>originalHeight</key>
				<integer>246</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1044</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>14.5</real>
			</dict>
			<key>beijingtiao10.png</key>
			<dict>
				<key>width</key>
				<integer>1135</integer>
				<key>height</key>
				<integer>213</integer>
				<key>originalWidth</key>
				<integer>1136</integer>
				<key>originalHeight</key>
				<integer>222</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1263</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>4.5</real>
			</dict>
			<key>beijingtiao2.png</key>
			<dict>
				<key>width</key>
				<integer>1135</integer>
				<key>height</key>
				<integer>158</integer>
				<key>originalWidth</key>
				<integer>1136</integer>
				<key>originalHeight</key>
				<integer>197</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1478</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>6.5</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>beijingtiao0.png</string>
			<key>realTextureFileName</key>
			<string>beijingtiao0.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>