<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>LOGO2.png</key>
			<dict>
				<key>width</key>
				<integer>920</integer>
				<key>height</key>
				<integer>543</integer>
				<key>originalWidth</key>
				<integer>920</integer>
				<key>originalHeight</key>
				<integer>543</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>fensemengban.png</key>
			<dict>
				<key>width</key>
				<integer>1136</integer>
				<key>height</key>
				<integer>412</integer>
				<key>originalWidth</key>
				<integer>1136</integer>
				<key>originalHeight</key>
				<integer>412</integer>
				<key>x</key>
				<integer>922</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>heikuang.png</key>
			<dict>
				<key>width</key>
				<integer>1136</integer>
				<key>height</key>
				<integer>640</integer>
				<key>originalWidth</key>
				<integer>1136</integer>
				<key>originalHeight</key>
				<integer>640</integer>
				<key>x</key>
				<integer>2060</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>wuya (2).png</key>
			<dict>
				<key>width</key>
				<integer>117</integer>
				<key>height</key>
				<integer>118</integer>
				<key>originalWidth</key>
				<integer>117</integer>
				<key>originalHeight</key>
				<integer>118</integer>
				<key>x</key>
				<integer>3198</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>wuyabian.png</key>
			<dict>
				<key>width</key>
				<integer>69</integer>
				<key>height</key>
				<integer>70</integer>
				<key>originalWidth</key>
				<integer>69</integer>
				<key>originalHeight</key>
				<integer>70</integer>
				<key>x</key>
				<integer>3317</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>wuya.bian.png</key>
			<dict>
				<key>width</key>
				<integer>7</integer>
				<key>height</key>
				<integer>7</integer>
				<key>originalWidth</key>
				<integer>7</integer>
				<key>originalHeight</key>
				<integer>7</integer>
				<key>x</key>
				<integer>3388</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zuoshou.png</key>
			<dict>
				<key>width</key>
				<integer>50</integer>
				<key>height</key>
				<integer>42</integer>
				<key>originalWidth</key>
				<integer>50</integer>
				<key>originalHeight</key>
				<integer>42</integer>
				<key>x</key>
				<integer>3397</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>youshou.png</key>
			<dict>
				<key>width</key>
				<integer>51</integer>
				<key>height</key>
				<integer>38</integer>
				<key>originalWidth</key>
				<integer>51</integer>
				<key>originalHeight</key>
				<integer>38</integer>
				<key>x</key>
				<integer>3449</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>jian.png</key>
			<dict>
				<key>width</key>
				<integer>92</integer>
				<key>height</key>
				<integer>50</integer>
				<key>originalWidth</key>
				<integer>92</integer>
				<key>originalHeight</key>
				<integer>50</integer>
				<key>x</key>
				<integer>3502</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>biaoqing (5).png</key>
			<dict>
				<key>width</key>
				<integer>44</integer>
				<key>height</key>
				<integer>44</integer>
				<key>originalWidth</key>
				<integer>44</integer>
				<key>originalHeight</key>
				<integer>44</integer>
				<key>x</key>
				<integer>3596</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>biaoqing (1).png</key>
			<dict>
				<key>width</key>
				<integer>44</integer>
				<key>height</key>
				<integer>44</integer>
				<key>originalWidth</key>
				<integer>44</integer>
				<key>originalHeight</key>
				<integer>44</integer>
				<key>x</key>
				<integer>3642</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>biaoqing (2).png</key>
			<dict>
				<key>width</key>
				<integer>44</integer>
				<key>height</key>
				<integer>44</integer>
				<key>originalWidth</key>
				<integer>44</integer>
				<key>originalHeight</key>
				<integer>44</integer>
				<key>x</key>
				<integer>3688</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>biaoqing (3).png</key>
			<dict>
				<key>width</key>
				<integer>44</integer>
				<key>height</key>
				<integer>44</integer>
				<key>originalWidth</key>
				<integer>44</integer>
				<key>originalHeight</key>
				<integer>44</integer>
				<key>x</key>
				<integer>3734</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>biaoqing (4).png</key>
			<dict>
				<key>width</key>
				<integer>44</integer>
				<key>height</key>
				<integer>44</integer>
				<key>originalWidth</key>
				<integer>44</integer>
				<key>originalHeight</key>
				<integer>44</integer>
				<key>x</key>
				<integer>3780</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>biaoqing (6).png</key>
			<dict>
				<key>width</key>
				<integer>44</integer>
				<key>height</key>
				<integer>44</integer>
				<key>originalWidth</key>
				<integer>44</integer>
				<key>originalHeight</key>
				<integer>44</integer>
				<key>x</key>
				<integer>3826</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>biaoqing (7).png</key>
			<dict>
				<key>width</key>
				<integer>44</integer>
				<key>height</key>
				<integer>51</integer>
				<key>originalWidth</key>
				<integer>44</integer>
				<key>originalHeight</key>
				<integer>51</integer>
				<key>x</key>
				<integer>3872</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>kongmingdeng.png</key>
			<dict>
				<key>width</key>
				<integer>75</integer>
				<key>height</key>
				<integer>99</integer>
				<key>originalWidth</key>
				<integer>75</integer>
				<key>originalHeight</key>
				<integer>99</integer>
				<key>x</key>
				<integer>3918</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>lang (1).png</key>
			<dict>
				<key>width</key>
				<integer>1136</integer>
				<key>height</key>
				<integer>139</integer>
				<key>originalWidth</key>
				<integer>1136</integer>
				<key>originalHeight</key>
				<integer>139</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>642</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>lang (2).png</key>
			<dict>
				<key>width</key>
				<integer>1136</integer>
				<key>height</key>
				<integer>139</integer>
				<key>originalWidth</key>
				<integer>1136</integer>
				<key>originalHeight</key>
				<integer>139</integer>
				<key>x</key>
				<integer>1138</integer>
				<key>y</key>
				<integer>642</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>chuan.png</key>
			<dict>
				<key>width</key>
				<integer>291</integer>
				<key>height</key>
				<integer>248</integer>
				<key>originalWidth</key>
				<integer>291</integer>
				<key>originalHeight</key>
				<integer>248</integer>
				<key>x</key>
				<integer>2276</integer>
				<key>y</key>
				<integer>642</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>lang (3).png</key>
			<dict>
				<key>width</key>
				<integer>1136</integer>
				<key>height</key>
				<integer>239</integer>
				<key>originalWidth</key>
				<integer>1136</integer>
				<key>originalHeight</key>
				<integer>239</integer>
				<key>x</key>
				<integer>2569</integer>
				<key>y</key>
				<integer>642</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>lang (4).png</key>
			<dict>
				<key>width</key>
				<integer>1136</integer>
				<key>height</key>
				<integer>239</integer>
				<key>originalWidth</key>
				<integer>1136</integer>
				<key>originalHeight</key>
				<integer>239</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>892</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>ditu.png</key>
			<dict>
				<key>width</key>
				<integer>1136</integer>
				<key>height</key>
				<integer>640</integer>
				<key>originalWidth</key>
				<integer>1136</integer>
				<key>originalHeight</key>
				<integer>640</integer>
				<key>x</key>
				<integer>1138</integer>
				<key>y</key>
				<integer>892</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>loading0.png</string>
			<key>realTextureFileName</key>
			<string>loading0.png</string>
			<key>size</key>
			<string>{4096,4096}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>4096</integer>
			<key>height</key>
			<integer>4096</integer>
		</dict>
	</dict>
</plist>