<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>guanggaoui0102.png</key>
			<dict>
				<key>width</key>
				<integer>350</integer>
				<key>height</key>
				<integer>160</integer>
				<key>originalWidth</key>
				<integer>350</integer>
				<key>originalHeight</key>
				<integer>160</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>guanggaoui0098.png</key>
			<dict>
				<key>width</key>
				<integer>350</integer>
				<key>height</key>
				<integer>160</integer>
				<key>originalWidth</key>
				<integer>350</integer>
				<key>originalHeight</key>
				<integer>160</integer>
				<key>x</key>
				<integer>352</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>guanggaoui0094.png</key>
			<dict>
				<key>width</key>
				<integer>350</integer>
				<key>height</key>
				<integer>160</integer>
				<key>originalWidth</key>
				<integer>350</integer>
				<key>originalHeight</key>
				<integer>160</integer>
				<key>x</key>
				<integer>704</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>guanggaoui0090.png</key>
			<dict>
				<key>width</key>
				<integer>350</integer>
				<key>height</key>
				<integer>160</integer>
				<key>originalWidth</key>
				<integer>350</integer>
				<key>originalHeight</key>
				<integer>160</integer>
				<key>x</key>
				<integer>1056</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>guanggaoui0086.png</key>
			<dict>
				<key>width</key>
				<integer>350</integer>
				<key>height</key>
				<integer>160</integer>
				<key>originalWidth</key>
				<integer>350</integer>
				<key>originalHeight</key>
				<integer>160</integer>
				<key>x</key>
				<integer>1408</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>guanggaoui0082.png</key>
			<dict>
				<key>width</key>
				<integer>350</integer>
				<key>height</key>
				<integer>160</integer>
				<key>originalWidth</key>
				<integer>350</integer>
				<key>originalHeight</key>
				<integer>160</integer>
				<key>x</key>
				<integer>1760</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>guanggaoui0078.png</key>
			<dict>
				<key>width</key>
				<integer>350</integer>
				<key>height</key>
				<integer>160</integer>
				<key>originalWidth</key>
				<integer>350</integer>
				<key>originalHeight</key>
				<integer>160</integer>
				<key>x</key>
				<integer>2112</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>guanggaoui0074.png</key>
			<dict>
				<key>width</key>
				<integer>350</integer>
				<key>height</key>
				<integer>160</integer>
				<key>originalWidth</key>
				<integer>350</integer>
				<key>originalHeight</key>
				<integer>160</integer>
				<key>x</key>
				<integer>2464</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>guanggaoui0070.png</key>
			<dict>
				<key>width</key>
				<integer>350</integer>
				<key>height</key>
				<integer>160</integer>
				<key>originalWidth</key>
				<integer>350</integer>
				<key>originalHeight</key>
				<integer>160</integer>
				<key>x</key>
				<integer>2816</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>guanggaoui0066.png</key>
			<dict>
				<key>width</key>
				<integer>350</integer>
				<key>height</key>
				<integer>160</integer>
				<key>originalWidth</key>
				<integer>350</integer>
				<key>originalHeight</key>
				<integer>160</integer>
				<key>x</key>
				<integer>3168</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>guanggaoui0062.png</key>
			<dict>
				<key>width</key>
				<integer>350</integer>
				<key>height</key>
				<integer>160</integer>
				<key>originalWidth</key>
				<integer>350</integer>
				<key>originalHeight</key>
				<integer>160</integer>
				<key>x</key>
				<integer>3520</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>guanggaoui0058.png</key>
			<dict>
				<key>width</key>
				<integer>350</integer>
				<key>height</key>
				<integer>160</integer>
				<key>originalWidth</key>
				<integer>350</integer>
				<key>originalHeight</key>
				<integer>160</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>162</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>guanggaoui0054.png</key>
			<dict>
				<key>width</key>
				<integer>350</integer>
				<key>height</key>
				<integer>160</integer>
				<key>originalWidth</key>
				<integer>350</integer>
				<key>originalHeight</key>
				<integer>160</integer>
				<key>x</key>
				<integer>352</integer>
				<key>y</key>
				<integer>162</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>guanggaoui0050.png</key>
			<dict>
				<key>width</key>
				<integer>350</integer>
				<key>height</key>
				<integer>160</integer>
				<key>originalWidth</key>
				<integer>350</integer>
				<key>originalHeight</key>
				<integer>160</integer>
				<key>x</key>
				<integer>704</integer>
				<key>y</key>
				<integer>162</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>uiguanggao0.png</string>
			<key>realTextureFileName</key>
			<string>uiguanggao0.png</string>
			<key>size</key>
			<string>{4096,4096}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>4096</integer>
			<key>height</key>
			<integer>4096</integer>
		</dict>
	</dict>
</plist>