<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>FENG14.png</key>
			<dict>
				<key>width</key>
				<integer>485</integer>
				<key>height</key>
				<integer>123</integer>
				<key>originalWidth</key>
				<integer>485</integer>
				<key>originalHeight</key>
				<integer>123</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>FENG1.png</key>
			<dict>
				<key>width</key>
				<integer>485</integer>
				<key>height</key>
				<integer>123</integer>
				<key>originalWidth</key>
				<integer>485</integer>
				<key>originalHeight</key>
				<integer>123</integer>
				<key>x</key>
				<integer>487</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>FENG2.png</key>
			<dict>
				<key>width</key>
				<integer>485</integer>
				<key>height</key>
				<integer>123</integer>
				<key>originalWidth</key>
				<integer>485</integer>
				<key>originalHeight</key>
				<integer>123</integer>
				<key>x</key>
				<integer>974</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>FENG3.png</key>
			<dict>
				<key>width</key>
				<integer>485</integer>
				<key>height</key>
				<integer>123</integer>
				<key>originalWidth</key>
				<integer>485</integer>
				<key>originalHeight</key>
				<integer>123</integer>
				<key>x</key>
				<integer>1461</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>FENG4.png</key>
			<dict>
				<key>width</key>
				<integer>485</integer>
				<key>height</key>
				<integer>123</integer>
				<key>originalWidth</key>
				<integer>485</integer>
				<key>originalHeight</key>
				<integer>123</integer>
				<key>x</key>
				<integer>1948</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>FENG5.png</key>
			<dict>
				<key>width</key>
				<integer>485</integer>
				<key>height</key>
				<integer>123</integer>
				<key>originalWidth</key>
				<integer>485</integer>
				<key>originalHeight</key>
				<integer>123</integer>
				<key>x</key>
				<integer>2435</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>FENG6.png</key>
			<dict>
				<key>width</key>
				<integer>485</integer>
				<key>height</key>
				<integer>123</integer>
				<key>originalWidth</key>
				<integer>485</integer>
				<key>originalHeight</key>
				<integer>123</integer>
				<key>x</key>
				<integer>2922</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>FENG7.png</key>
			<dict>
				<key>width</key>
				<integer>485</integer>
				<key>height</key>
				<integer>123</integer>
				<key>originalWidth</key>
				<integer>485</integer>
				<key>originalHeight</key>
				<integer>123</integer>
				<key>x</key>
				<integer>3409</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>FENG8.png</key>
			<dict>
				<key>width</key>
				<integer>485</integer>
				<key>height</key>
				<integer>123</integer>
				<key>originalWidth</key>
				<integer>485</integer>
				<key>originalHeight</key>
				<integer>123</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>125</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>FENG9.png</key>
			<dict>
				<key>width</key>
				<integer>485</integer>
				<key>height</key>
				<integer>123</integer>
				<key>originalWidth</key>
				<integer>485</integer>
				<key>originalHeight</key>
				<integer>123</integer>
				<key>x</key>
				<integer>487</integer>
				<key>y</key>
				<integer>125</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>FENG10.png</key>
			<dict>
				<key>width</key>
				<integer>485</integer>
				<key>height</key>
				<integer>123</integer>
				<key>originalWidth</key>
				<integer>485</integer>
				<key>originalHeight</key>
				<integer>123</integer>
				<key>x</key>
				<integer>974</integer>
				<key>y</key>
				<integer>125</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>FENG11.png</key>
			<dict>
				<key>width</key>
				<integer>485</integer>
				<key>height</key>
				<integer>123</integer>
				<key>originalWidth</key>
				<integer>485</integer>
				<key>originalHeight</key>
				<integer>123</integer>
				<key>x</key>
				<integer>1461</integer>
				<key>y</key>
				<integer>125</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>FENG12.png</key>
			<dict>
				<key>width</key>
				<integer>485</integer>
				<key>height</key>
				<integer>123</integer>
				<key>originalWidth</key>
				<integer>485</integer>
				<key>originalHeight</key>
				<integer>123</integer>
				<key>x</key>
				<integer>1948</integer>
				<key>y</key>
				<integer>125</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>FENG13.png</key>
			<dict>
				<key>width</key>
				<integer>485</integer>
				<key>height</key>
				<integer>123</integer>
				<key>originalWidth</key>
				<integer>485</integer>
				<key>originalHeight</key>
				<integer>123</integer>
				<key>x</key>
				<integer>2435</integer>
				<key>y</key>
				<integer>125</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>shuye12.png</key>
			<dict>
				<key>width</key>
				<integer>811</integer>
				<key>height</key>
				<integer>227</integer>
				<key>originalWidth</key>
				<integer>811</integer>
				<key>originalHeight</key>
				<integer>227</integer>
				<key>x</key>
				<integer>2922</integer>
				<key>y</key>
				<integer>125</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>shuye11.png</key>
			<dict>
				<key>width</key>
				<integer>811</integer>
				<key>height</key>
				<integer>227</integer>
				<key>originalWidth</key>
				<integer>811</integer>
				<key>originalHeight</key>
				<integer>227</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>354</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>shuye10.png</key>
			<dict>
				<key>width</key>
				<integer>811</integer>
				<key>height</key>
				<integer>227</integer>
				<key>originalWidth</key>
				<integer>811</integer>
				<key>originalHeight</key>
				<integer>227</integer>
				<key>x</key>
				<integer>813</integer>
				<key>y</key>
				<integer>354</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>shuye9.png</key>
			<dict>
				<key>width</key>
				<integer>811</integer>
				<key>height</key>
				<integer>227</integer>
				<key>originalWidth</key>
				<integer>811</integer>
				<key>originalHeight</key>
				<integer>227</integer>
				<key>x</key>
				<integer>1626</integer>
				<key>y</key>
				<integer>354</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>shuye8.png</key>
			<dict>
				<key>width</key>
				<integer>811</integer>
				<key>height</key>
				<integer>227</integer>
				<key>originalWidth</key>
				<integer>811</integer>
				<key>originalHeight</key>
				<integer>227</integer>
				<key>x</key>
				<integer>2439</integer>
				<key>y</key>
				<integer>354</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>shuye7.png</key>
			<dict>
				<key>width</key>
				<integer>811</integer>
				<key>height</key>
				<integer>227</integer>
				<key>originalWidth</key>
				<integer>811</integer>
				<key>originalHeight</key>
				<integer>227</integer>
				<key>x</key>
				<integer>3252</integer>
				<key>y</key>
				<integer>354</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>shuye6.png</key>
			<dict>
				<key>width</key>
				<integer>811</integer>
				<key>height</key>
				<integer>227</integer>
				<key>originalWidth</key>
				<integer>811</integer>
				<key>originalHeight</key>
				<integer>227</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>583</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>shuye5.png</key>
			<dict>
				<key>width</key>
				<integer>811</integer>
				<key>height</key>
				<integer>227</integer>
				<key>originalWidth</key>
				<integer>811</integer>
				<key>originalHeight</key>
				<integer>227</integer>
				<key>x</key>
				<integer>813</integer>
				<key>y</key>
				<integer>583</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>shuye4.png</key>
			<dict>
				<key>width</key>
				<integer>811</integer>
				<key>height</key>
				<integer>227</integer>
				<key>originalWidth</key>
				<integer>811</integer>
				<key>originalHeight</key>
				<integer>227</integer>
				<key>x</key>
				<integer>1626</integer>
				<key>y</key>
				<integer>583</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>shuye3.png</key>
			<dict>
				<key>width</key>
				<integer>811</integer>
				<key>height</key>
				<integer>227</integer>
				<key>originalWidth</key>
				<integer>811</integer>
				<key>originalHeight</key>
				<integer>227</integer>
				<key>x</key>
				<integer>2439</integer>
				<key>y</key>
				<integer>583</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>shuye2.png</key>
			<dict>
				<key>width</key>
				<integer>811</integer>
				<key>height</key>
				<integer>227</integer>
				<key>originalWidth</key>
				<integer>811</integer>
				<key>originalHeight</key>
				<integer>227</integer>
				<key>x</key>
				<integer>3252</integer>
				<key>y</key>
				<integer>583</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>shuye1.png</key>
			<dict>
				<key>width</key>
				<integer>811</integer>
				<key>height</key>
				<integer>227</integer>
				<key>originalWidth</key>
				<integer>811</integer>
				<key>originalHeight</key>
				<integer>227</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>812</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>shuye.png</key>
			<dict>
				<key>width</key>
				<integer>811</integer>
				<key>height</key>
				<integer>227</integer>
				<key>originalWidth</key>
				<integer>811</integer>
				<key>originalHeight</key>
				<integer>227</integer>
				<key>x</key>
				<integer>813</integer>
				<key>y</key>
				<integer>812</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>zhandaoushibaid0.png</string>
			<key>realTextureFileName</key>
			<string>zhandaoushibaid0.png</string>
			<key>size</key>
			<string>{4096,4096}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>4096</integer>
			<key>height</key>
			<integer>4096</integer>
		</dict>
	</dict>
</plist>