<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>lilianui0044.png</key>
			<dict>
				<key>width</key>
				<integer>595</integer>
				<key>height</key>
				<integer>385</integer>
				<key>originalWidth</key>
				<integer>595</integer>
				<key>originalHeight</key>
				<integer>385</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>lilianui0040.png</key>
			<dict>
				<key>width</key>
				<integer>595</integer>
				<key>height</key>
				<integer>385</integer>
				<key>originalWidth</key>
				<integer>595</integer>
				<key>originalHeight</key>
				<integer>385</integer>
				<key>x</key>
				<integer>597</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>lilianui0037.png</key>
			<dict>
				<key>width</key>
				<integer>595</integer>
				<key>height</key>
				<integer>385</integer>
				<key>originalWidth</key>
				<integer>595</integer>
				<key>originalHeight</key>
				<integer>385</integer>
				<key>x</key>
				<integer>1194</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>lilianui0034.png</key>
			<dict>
				<key>width</key>
				<integer>595</integer>
				<key>height</key>
				<integer>385</integer>
				<key>originalWidth</key>
				<integer>595</integer>
				<key>originalHeight</key>
				<integer>385</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>387</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>lilianui0031.png</key>
			<dict>
				<key>width</key>
				<integer>595</integer>
				<key>height</key>
				<integer>385</integer>
				<key>originalWidth</key>
				<integer>595</integer>
				<key>originalHeight</key>
				<integer>385</integer>
				<key>x</key>
				<integer>597</integer>
				<key>y</key>
				<integer>387</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>lilianui0028.png</key>
			<dict>
				<key>width</key>
				<integer>595</integer>
				<key>height</key>
				<integer>385</integer>
				<key>originalWidth</key>
				<integer>595</integer>
				<key>originalHeight</key>
				<integer>385</integer>
				<key>x</key>
				<integer>1194</integer>
				<key>y</key>
				<integer>387</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>lilianui0025.png</key>
			<dict>
				<key>width</key>
				<integer>595</integer>
				<key>height</key>
				<integer>385</integer>
				<key>originalWidth</key>
				<integer>595</integer>
				<key>originalHeight</key>
				<integer>385</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>774</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>lilianui0022.png</key>
			<dict>
				<key>width</key>
				<integer>595</integer>
				<key>height</key>
				<integer>385</integer>
				<key>originalWidth</key>
				<integer>595</integer>
				<key>originalHeight</key>
				<integer>385</integer>
				<key>x</key>
				<integer>597</integer>
				<key>y</key>
				<integer>774</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>lilianui0019.png</key>
			<dict>
				<key>width</key>
				<integer>595</integer>
				<key>height</key>
				<integer>385</integer>
				<key>originalWidth</key>
				<integer>595</integer>
				<key>originalHeight</key>
				<integer>385</integer>
				<key>x</key>
				<integer>1194</integer>
				<key>y</key>
				<integer>774</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>lilianui0016.png</key>
			<dict>
				<key>width</key>
				<integer>595</integer>
				<key>height</key>
				<integer>385</integer>
				<key>originalWidth</key>
				<integer>595</integer>
				<key>originalHeight</key>
				<integer>385</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1161</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>lilianui0013.png</key>
			<dict>
				<key>width</key>
				<integer>595</integer>
				<key>height</key>
				<integer>385</integer>
				<key>originalWidth</key>
				<integer>595</integer>
				<key>originalHeight</key>
				<integer>385</integer>
				<key>x</key>
				<integer>597</integer>
				<key>y</key>
				<integer>1161</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>lilianui0010.png</key>
			<dict>
				<key>width</key>
				<integer>595</integer>
				<key>height</key>
				<integer>385</integer>
				<key>originalWidth</key>
				<integer>595</integer>
				<key>originalHeight</key>
				<integer>385</integer>
				<key>x</key>
				<integer>1194</integer>
				<key>y</key>
				<integer>1161</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>lilianui0007.png</key>
			<dict>
				<key>width</key>
				<integer>595</integer>
				<key>height</key>
				<integer>385</integer>
				<key>originalWidth</key>
				<integer>595</integer>
				<key>originalHeight</key>
				<integer>385</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1548</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>lilianui0004.png</key>
			<dict>
				<key>width</key>
				<integer>595</integer>
				<key>height</key>
				<integer>385</integer>
				<key>originalWidth</key>
				<integer>595</integer>
				<key>originalHeight</key>
				<integer>385</integer>
				<key>x</key>
				<integer>597</integer>
				<key>y</key>
				<integer>1548</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>lilianui0001.png</key>
			<dict>
				<key>width</key>
				<integer>595</integer>
				<key>height</key>
				<integer>385</integer>
				<key>originalWidth</key>
				<integer>595</integer>
				<key>originalHeight</key>
				<integer>385</integer>
				<key>x</key>
				<integer>1194</integer>
				<key>y</key>
				<integer>1548</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>lilianrenwushenji1.png</string>
			<key>realTextureFileName</key>
			<string>lilianrenwushenji1.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>