<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>dengji2.png</key>
			<dict>
				<key>width</key>
				<integer>149</integer>
				<key>height</key>
				<integer>132</integer>
				<key>originalWidth</key>
				<integer>149</integer>
				<key>originalHeight</key>
				<integer>132</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dengji1.png</key>
			<dict>
				<key>width</key>
				<integer>149</integer>
				<key>height</key>
				<integer>132</integer>
				<key>originalWidth</key>
				<integer>149</integer>
				<key>originalHeight</key>
				<integer>132</integer>
				<key>x</key>
				<integer>151</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dengji (14).png</key>
			<dict>
				<key>width</key>
				<integer>380</integer>
				<key>height</key>
				<integer>229</integer>
				<key>originalWidth</key>
				<integer>380</integer>
				<key>originalHeight</key>
				<integer>229</integer>
				<key>x</key>
				<integer>302</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dengji (13).png</key>
			<dict>
				<key>width</key>
				<integer>380</integer>
				<key>height</key>
				<integer>229</integer>
				<key>originalWidth</key>
				<integer>380</integer>
				<key>originalHeight</key>
				<integer>229</integer>
				<key>x</key>
				<integer>684</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dengji (12).png</key>
			<dict>
				<key>width</key>
				<integer>380</integer>
				<key>height</key>
				<integer>229</integer>
				<key>originalWidth</key>
				<integer>380</integer>
				<key>originalHeight</key>
				<integer>229</integer>
				<key>x</key>
				<integer>1066</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dengji (11).png</key>
			<dict>
				<key>width</key>
				<integer>380</integer>
				<key>height</key>
				<integer>229</integer>
				<key>originalWidth</key>
				<integer>380</integer>
				<key>originalHeight</key>
				<integer>229</integer>
				<key>x</key>
				<integer>1448</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dengji (10).png</key>
			<dict>
				<key>width</key>
				<integer>380</integer>
				<key>height</key>
				<integer>229</integer>
				<key>originalWidth</key>
				<integer>380</integer>
				<key>originalHeight</key>
				<integer>229</integer>
				<key>x</key>
				<integer>1830</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dengji (9).png</key>
			<dict>
				<key>width</key>
				<integer>380</integer>
				<key>height</key>
				<integer>229</integer>
				<key>originalWidth</key>
				<integer>380</integer>
				<key>originalHeight</key>
				<integer>229</integer>
				<key>x</key>
				<integer>2212</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dengji (8).png</key>
			<dict>
				<key>width</key>
				<integer>380</integer>
				<key>height</key>
				<integer>229</integer>
				<key>originalWidth</key>
				<integer>380</integer>
				<key>originalHeight</key>
				<integer>229</integer>
				<key>x</key>
				<integer>2594</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dengji (7).png</key>
			<dict>
				<key>width</key>
				<integer>380</integer>
				<key>height</key>
				<integer>229</integer>
				<key>originalWidth</key>
				<integer>380</integer>
				<key>originalHeight</key>
				<integer>229</integer>
				<key>x</key>
				<integer>2976</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dengji (6).png</key>
			<dict>
				<key>width</key>
				<integer>380</integer>
				<key>height</key>
				<integer>229</integer>
				<key>originalWidth</key>
				<integer>380</integer>
				<key>originalHeight</key>
				<integer>229</integer>
				<key>x</key>
				<integer>3358</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dengji (5).png</key>
			<dict>
				<key>width</key>
				<integer>380</integer>
				<key>height</key>
				<integer>229</integer>
				<key>originalWidth</key>
				<integer>380</integer>
				<key>originalHeight</key>
				<integer>229</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>231</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dengji (4).png</key>
			<dict>
				<key>width</key>
				<integer>380</integer>
				<key>height</key>
				<integer>229</integer>
				<key>originalWidth</key>
				<integer>380</integer>
				<key>originalHeight</key>
				<integer>229</integer>
				<key>x</key>
				<integer>382</integer>
				<key>y</key>
				<integer>231</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dengji (3).png</key>
			<dict>
				<key>width</key>
				<integer>380</integer>
				<key>height</key>
				<integer>229</integer>
				<key>originalWidth</key>
				<integer>380</integer>
				<key>originalHeight</key>
				<integer>229</integer>
				<key>x</key>
				<integer>764</integer>
				<key>y</key>
				<integer>231</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dengji (2).png</key>
			<dict>
				<key>width</key>
				<integer>380</integer>
				<key>height</key>
				<integer>229</integer>
				<key>originalWidth</key>
				<integer>380</integer>
				<key>originalHeight</key>
				<integer>229</integer>
				<key>x</key>
				<integer>1146</integer>
				<key>y</key>
				<integer>231</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dengji (1).png</key>
			<dict>
				<key>width</key>
				<integer>380</integer>
				<key>height</key>
				<integer>229</integer>
				<key>originalWidth</key>
				<integer>380</integer>
				<key>originalHeight</key>
				<integer>229</integer>
				<key>x</key>
				<integer>1528</integer>
				<key>y</key>
				<integer>231</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>kapaiyoushangjiao0.png</string>
			<key>realTextureFileName</key>
			<string>kapaiyoushangjiao0.png</string>
			<key>size</key>
			<string>{4096,4096}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>4096</integer>
			<key>height</key>
			<integer>4096</integer>
		</dict>
	</dict>
</plist>