<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>caopit39.png</key>
			<dict>
				<key>width</key>
				<integer>229</integer>
				<key>height</key>
				<integer>121</integer>
				<key>originalWidth</key>
				<integer>229</integer>
				<key>originalHeight</key>
				<integer>121</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>caopit63.png</key>
			<dict>
				<key>width</key>
				<integer>235</integer>
				<key>height</key>
				<integer>231</integer>
				<key>originalWidth</key>
				<integer>235</integer>
				<key>originalHeight</key>
				<integer>231</integer>
				<key>x</key>
				<integer>231</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>caopit62.png</key>
			<dict>
				<key>width</key>
				<integer>283</integer>
				<key>height</key>
				<integer>207</integer>
				<key>originalWidth</key>
				<integer>283</integer>
				<key>originalHeight</key>
				<integer>207</integer>
				<key>x</key>
				<integer>468</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>caopit61.png</key>
			<dict>
				<key>width</key>
				<integer>316</integer>
				<key>height</key>
				<integer>223</integer>
				<key>originalWidth</key>
				<integer>316</integer>
				<key>originalHeight</key>
				<integer>223</integer>
				<key>x</key>
				<integer>753</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>caopit60.png</key>
			<dict>
				<key>width</key>
				<integer>414</integer>
				<key>height</key>
				<integer>218</integer>
				<key>originalWidth</key>
				<integer>414</integer>
				<key>originalHeight</key>
				<integer>218</integer>
				<key>x</key>
				<integer>1071</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>caopit59.png</key>
			<dict>
				<key>width</key>
				<integer>426</integer>
				<key>height</key>
				<integer>203</integer>
				<key>originalWidth</key>
				<integer>426</integer>
				<key>originalHeight</key>
				<integer>203</integer>
				<key>x</key>
				<integer>1487</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>caopit40.png</key>
			<dict>
				<key>width</key>
				<integer>317</integer>
				<key>height</key>
				<integer>165</integer>
				<key>originalWidth</key>
				<integer>317</integer>
				<key>originalHeight</key>
				<integer>165</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>233</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>caopit58.png</key>
			<dict>
				<key>width</key>
				<integer>30</integer>
				<key>height</key>
				<integer>94</integer>
				<key>originalWidth</key>
				<integer>30</integer>
				<key>originalHeight</key>
				<integer>94</integer>
				<key>x</key>
				<integer>319</integer>
				<key>y</key>
				<integer>233</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>caopit57.png</key>
			<dict>
				<key>width</key>
				<integer>99</integer>
				<key>height</key>
				<integer>90</integer>
				<key>originalWidth</key>
				<integer>99</integer>
				<key>originalHeight</key>
				<integer>90</integer>
				<key>x</key>
				<integer>351</integer>
				<key>y</key>
				<integer>233</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>caopit30.png</key>
			<dict>
				<key>width</key>
				<integer>260</integer>
				<key>height</key>
				<integer>233</integer>
				<key>originalWidth</key>
				<integer>260</integer>
				<key>originalHeight</key>
				<integer>233</integer>
				<key>x</key>
				<integer>452</integer>
				<key>y</key>
				<integer>233</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>caopit29.png</key>
			<dict>
				<key>width</key>
				<integer>260</integer>
				<key>height</key>
				<integer>297</integer>
				<key>originalWidth</key>
				<integer>260</integer>
				<key>originalHeight</key>
				<integer>297</integer>
				<key>x</key>
				<integer>714</integer>
				<key>y</key>
				<integer>233</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>caopit28.png</key>
			<dict>
				<key>width</key>
				<integer>260</integer>
				<key>height</key>
				<integer>288</integer>
				<key>originalWidth</key>
				<integer>260</integer>
				<key>originalHeight</key>
				<integer>288</integer>
				<key>x</key>
				<integer>976</integer>
				<key>y</key>
				<integer>233</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>caopit27.png</key>
			<dict>
				<key>width</key>
				<integer>286</integer>
				<key>height</key>
				<integer>288</integer>
				<key>originalWidth</key>
				<integer>286</integer>
				<key>originalHeight</key>
				<integer>288</integer>
				<key>x</key>
				<integer>1238</integer>
				<key>y</key>
				<integer>233</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>caopit26.png</key>
			<dict>
				<key>width</key>
				<integer>249</integer>
				<key>height</key>
				<integer>260</integer>
				<key>originalWidth</key>
				<integer>249</integer>
				<key>originalHeight</key>
				<integer>260</integer>
				<key>x</key>
				<integer>1526</integer>
				<key>y</key>
				<integer>233</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>caopit25.png</key>
			<dict>
				<key>width</key>
				<integer>245</integer>
				<key>height</key>
				<integer>201</integer>
				<key>originalWidth</key>
				<integer>245</integer>
				<key>originalHeight</key>
				<integer>201</integer>
				<key>x</key>
				<integer>1777</integer>
				<key>y</key>
				<integer>233</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>caopit56.png</key>
			<dict>
				<key>width</key>
				<integer>98</integer>
				<key>height</key>
				<integer>76</integer>
				<key>originalWidth</key>
				<integer>98</integer>
				<key>originalHeight</key>
				<integer>76</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>532</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>caopit55.png</key>
			<dict>
				<key>width</key>
				<integer>81</integer>
				<key>height</key>
				<integer>64</integer>
				<key>originalWidth</key>
				<integer>81</integer>
				<key>originalHeight</key>
				<integer>64</integer>
				<key>x</key>
				<integer>100</integer>
				<key>y</key>
				<integer>532</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>caopit15.png</key>
			<dict>
				<key>width</key>
				<integer>320</integer>
				<key>height</key>
				<integer>146</integer>
				<key>originalWidth</key>
				<integer>320</integer>
				<key>originalHeight</key>
				<integer>146</integer>
				<key>x</key>
				<integer>183</integer>
				<key>y</key>
				<integer>532</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>caopit46.png</key>
			<dict>
				<key>width</key>
				<integer>300</integer>
				<key>height</key>
				<integer>208</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>208</integer>
				<key>x</key>
				<integer>505</integer>
				<key>y</key>
				<integer>532</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>caopit45.png</key>
			<dict>
				<key>width</key>
				<integer>305</integer>
				<key>height</key>
				<integer>221</integer>
				<key>originalWidth</key>
				<integer>305</integer>
				<key>originalHeight</key>
				<integer>221</integer>
				<key>x</key>
				<integer>807</integer>
				<key>y</key>
				<integer>532</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>caopit44.png</key>
			<dict>
				<key>width</key>
				<integer>311</integer>
				<key>height</key>
				<integer>236</integer>
				<key>originalWidth</key>
				<integer>311</integer>
				<key>originalHeight</key>
				<integer>236</integer>
				<key>x</key>
				<integer>1114</integer>
				<key>y</key>
				<integer>532</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>caopit43.png</key>
			<dict>
				<key>width</key>
				<integer>310</integer>
				<key>height</key>
				<integer>242</integer>
				<key>originalWidth</key>
				<integer>310</integer>
				<key>originalHeight</key>
				<integer>242</integer>
				<key>x</key>
				<integer>1427</integer>
				<key>y</key>
				<integer>532</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>caopit42.png</key>
			<dict>
				<key>width</key>
				<integer>297</integer>
				<key>height</key>
				<integer>215</integer>
				<key>originalWidth</key>
				<integer>297</integer>
				<key>originalHeight</key>
				<integer>215</integer>
				<key>x</key>
				<integer>1739</integer>
				<key>y</key>
				<integer>532</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>caopit41.png</key>
			<dict>
				<key>width</key>
				<integer>120</integer>
				<key>height</key>
				<integer>84</integer>
				<key>originalWidth</key>
				<integer>120</integer>
				<key>originalHeight</key>
				<integer>84</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>776</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>caopit47.png</key>
			<dict>
				<key>width</key>
				<integer>250</integer>
				<key>height</key>
				<integer>223</integer>
				<key>originalWidth</key>
				<integer>250</integer>
				<key>originalHeight</key>
				<integer>223</integer>
				<key>x</key>
				<integer>122</integer>
				<key>y</key>
				<integer>776</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>caopit36.png</key>
			<dict>
				<key>width</key>
				<integer>250</integer>
				<key>height</key>
				<integer>223</integer>
				<key>originalWidth</key>
				<integer>250</integer>
				<key>originalHeight</key>
				<integer>223</integer>
				<key>x</key>
				<integer>374</integer>
				<key>y</key>
				<integer>776</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>caopit35.png</key>
			<dict>
				<key>width</key>
				<integer>250</integer>
				<key>height</key>
				<integer>223</integer>
				<key>originalWidth</key>
				<integer>250</integer>
				<key>originalHeight</key>
				<integer>223</integer>
				<key>x</key>
				<integer>626</integer>
				<key>y</key>
				<integer>776</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>caopit34.png</key>
			<dict>
				<key>width</key>
				<integer>250</integer>
				<key>height</key>
				<integer>223</integer>
				<key>originalWidth</key>
				<integer>250</integer>
				<key>originalHeight</key>
				<integer>223</integer>
				<key>x</key>
				<integer>878</integer>
				<key>y</key>
				<integer>776</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>caopit33.png</key>
			<dict>
				<key>width</key>
				<integer>250</integer>
				<key>height</key>
				<integer>223</integer>
				<key>originalWidth</key>
				<integer>250</integer>
				<key>originalHeight</key>
				<integer>223</integer>
				<key>x</key>
				<integer>1130</integer>
				<key>y</key>
				<integer>776</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>caopit32.png</key>
			<dict>
				<key>width</key>
				<integer>250</integer>
				<key>height</key>
				<integer>223</integer>
				<key>originalWidth</key>
				<integer>250</integer>
				<key>originalHeight</key>
				<integer>223</integer>
				<key>x</key>
				<integer>1382</integer>
				<key>y</key>
				<integer>776</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>caopit31.png</key>
			<dict>
				<key>width</key>
				<integer>250</integer>
				<key>height</key>
				<integer>223</integer>
				<key>originalWidth</key>
				<integer>250</integer>
				<key>originalHeight</key>
				<integer>223</integer>
				<key>x</key>
				<integer>1634</integer>
				<key>y</key>
				<integer>776</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>caopit23.png</key>
			<dict>
				<key>width</key>
				<integer>500</integer>
				<key>height</key>
				<integer>217</integer>
				<key>originalWidth</key>
				<integer>500</integer>
				<key>originalHeight</key>
				<integer>217</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1001</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>caopi36.png</key>
			<dict>
				<key>width</key>
				<integer>146</integer>
				<key>height</key>
				<integer>154</integer>
				<key>originalWidth</key>
				<integer>146</integer>
				<key>originalHeight</key>
				<integer>154</integer>
				<key>x</key>
				<integer>502</integer>
				<key>y</key>
				<integer>1001</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>caopit22.png</key>
			<dict>
				<key>width</key>
				<integer>201</integer>
				<key>height</key>
				<integer>93</integer>
				<key>originalWidth</key>
				<integer>201</integer>
				<key>originalHeight</key>
				<integer>93</integer>
				<key>x</key>
				<integer>650</integer>
				<key>y</key>
				<integer>1001</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>caopit21.png</key>
			<dict>
				<key>width</key>
				<integer>217</integer>
				<key>height</key>
				<integer>155</integer>
				<key>originalWidth</key>
				<integer>217</integer>
				<key>originalHeight</key>
				<integer>155</integer>
				<key>x</key>
				<integer>853</integer>
				<key>y</key>
				<integer>1001</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>caopit20.png</key>
			<dict>
				<key>width</key>
				<integer>254</integer>
				<key>height</key>
				<integer>279</integer>
				<key>originalWidth</key>
				<integer>254</integer>
				<key>originalHeight</key>
				<integer>279</integer>
				<key>x</key>
				<integer>1072</integer>
				<key>y</key>
				<integer>1001</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>caopit7.png</key>
			<dict>
				<key>width</key>
				<integer>192</integer>
				<key>height</key>
				<integer>256</integer>
				<key>originalWidth</key>
				<integer>192</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>1328</integer>
				<key>y</key>
				<integer>1001</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>caopit6.png</key>
			<dict>
				<key>width</key>
				<integer>192</integer>
				<key>height</key>
				<integer>256</integer>
				<key>originalWidth</key>
				<integer>192</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>1522</integer>
				<key>y</key>
				<integer>1001</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>caopit5.png</key>
			<dict>
				<key>width</key>
				<integer>192</integer>
				<key>height</key>
				<integer>256</integer>
				<key>originalWidth</key>
				<integer>192</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>1716</integer>
				<key>y</key>
				<integer>1001</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>caopit4.png</key>
			<dict>
				<key>width</key>
				<integer>160</integer>
				<key>height</key>
				<integer>89</integer>
				<key>originalWidth</key>
				<integer>160</integer>
				<key>originalHeight</key>
				<integer>89</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1282</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>caopit8.png</key>
			<dict>
				<key>width</key>
				<integer>162</integer>
				<key>height</key>
				<integer>128</integer>
				<key>originalWidth</key>
				<integer>162</integer>
				<key>originalHeight</key>
				<integer>128</integer>
				<key>x</key>
				<integer>162</integer>
				<key>y</key>
				<integer>1282</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>caopit14.png</key>
			<dict>
				<key>width</key>
				<integer>213</integer>
				<key>height</key>
				<integer>125</integer>
				<key>originalWidth</key>
				<integer>213</integer>
				<key>originalHeight</key>
				<integer>125</integer>
				<key>x</key>
				<integer>326</integer>
				<key>y</key>
				<integer>1282</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>caopi35.png</key>
			<dict>
				<key>width</key>
				<integer>283</integer>
				<key>height</key>
				<integer>141</integer>
				<key>originalWidth</key>
				<integer>283</integer>
				<key>originalHeight</key>
				<integer>141</integer>
				<key>x</key>
				<integer>541</integer>
				<key>y</key>
				<integer>1282</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>caopi34.png</key>
			<dict>
				<key>width</key>
				<integer>190</integer>
				<key>height</key>
				<integer>144</integer>
				<key>originalWidth</key>
				<integer>190</integer>
				<key>originalHeight</key>
				<integer>144</integer>
				<key>x</key>
				<integer>826</integer>
				<key>y</key>
				<integer>1282</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>caopi33.png</key>
			<dict>
				<key>width</key>
				<integer>199</integer>
				<key>height</key>
				<integer>174</integer>
				<key>originalWidth</key>
				<integer>199</integer>
				<key>originalHeight</key>
				<integer>174</integer>
				<key>x</key>
				<integer>1018</integer>
				<key>y</key>
				<integer>1282</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>caopit13.png</key>
			<dict>
				<key>width</key>
				<integer>144</integer>
				<key>height</key>
				<integer>144</integer>
				<key>originalWidth</key>
				<integer>144</integer>
				<key>originalHeight</key>
				<integer>144</integer>
				<key>x</key>
				<integer>1219</integer>
				<key>y</key>
				<integer>1282</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>caopit12.png</key>
			<dict>
				<key>width</key>
				<integer>188</integer>
				<key>height</key>
				<integer>140</integer>
				<key>originalWidth</key>
				<integer>188</integer>
				<key>originalHeight</key>
				<integer>140</integer>
				<key>x</key>
				<integer>1365</integer>
				<key>y</key>
				<integer>1282</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>caopit11.png</key>
			<dict>
				<key>width</key>
				<integer>178</integer>
				<key>height</key>
				<integer>154</integer>
				<key>originalWidth</key>
				<integer>178</integer>
				<key>originalHeight</key>
				<integer>154</integer>
				<key>x</key>
				<integer>1555</integer>
				<key>y</key>
				<integer>1282</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>caopit10.png</key>
			<dict>
				<key>width</key>
				<integer>163</integer>
				<key>height</key>
				<integer>166</integer>
				<key>originalWidth</key>
				<integer>163</integer>
				<key>originalHeight</key>
				<integer>166</integer>
				<key>x</key>
				<integer>1735</integer>
				<key>y</key>
				<integer>1282</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>caopit9.png</key>
			<dict>
				<key>width</key>
				<integer>74</integer>
				<key>height</key>
				<integer>74</integer>
				<key>originalWidth</key>
				<integer>74</integer>
				<key>originalHeight</key>
				<integer>74</integer>
				<key>x</key>
				<integer>1900</integer>
				<key>y</key>
				<integer>1282</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>caopit3.png</key>
			<dict>
				<key>width</key>
				<integer>134</integer>
				<key>height</key>
				<integer>112</integer>
				<key>originalWidth</key>
				<integer>134</integer>
				<key>originalHeight</key>
				<integer>112</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1458</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>caopit2.png</key>
			<dict>
				<key>width</key>
				<integer>265</integer>
				<key>height</key>
				<integer>80</integer>
				<key>originalWidth</key>
				<integer>265</integer>
				<key>originalHeight</key>
				<integer>80</integer>
				<key>x</key>
				<integer>136</integer>
				<key>y</key>
				<integer>1458</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>caopit1.png</key>
			<dict>
				<key>width</key>
				<integer>176</integer>
				<key>height</key>
				<integer>73</integer>
				<key>originalWidth</key>
				<integer>176</integer>
				<key>originalHeight</key>
				<integer>73</integer>
				<key>x</key>
				<integer>403</integer>
				<key>y</key>
				<integer>1458</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>caopi32.png</key>
			<dict>
				<key>width</key>
				<integer>133</integer>
				<key>height</key>
				<integer>182</integer>
				<key>originalWidth</key>
				<integer>133</integer>
				<key>originalHeight</key>
				<integer>182</integer>
				<key>x</key>
				<integer>581</integer>
				<key>y</key>
				<integer>1458</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>caopi29.png</key>
			<dict>
				<key>width</key>
				<integer>50</integer>
				<key>height</key>
				<integer>220</integer>
				<key>originalWidth</key>
				<integer>50</integer>
				<key>originalHeight</key>
				<integer>220</integer>
				<key>x</key>
				<integer>716</integer>
				<key>y</key>
				<integer>1458</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>caopi23.png</key>
			<dict>
				<key>width</key>
				<integer>29</integer>
				<key>height</key>
				<integer>22</integer>
				<key>originalWidth</key>
				<integer>29</integer>
				<key>originalHeight</key>
				<integer>22</integer>
				<key>x</key>
				<integer>768</integer>
				<key>y</key>
				<integer>1458</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>caopi31.png</key>
			<dict>
				<key>width</key>
				<integer>38</integer>
				<key>height</key>
				<integer>35</integer>
				<key>originalWidth</key>
				<integer>38</integer>
				<key>originalHeight</key>
				<integer>35</integer>
				<key>x</key>
				<integer>799</integer>
				<key>y</key>
				<integer>1458</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>caopi22.png</key>
			<dict>
				<key>width</key>
				<integer>29</integer>
				<key>height</key>
				<integer>42</integer>
				<key>originalWidth</key>
				<integer>29</integer>
				<key>originalHeight</key>
				<integer>42</integer>
				<key>x</key>
				<integer>839</integer>
				<key>y</key>
				<integer>1458</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>caopi21.png</key>
			<dict>
				<key>width</key>
				<integer>22</integer>
				<key>height</key>
				<integer>19</integer>
				<key>originalWidth</key>
				<integer>22</integer>
				<key>originalHeight</key>
				<integer>19</integer>
				<key>x</key>
				<integer>870</integer>
				<key>y</key>
				<integer>1458</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>caopi20.png</key>
			<dict>
				<key>width</key>
				<integer>21</integer>
				<key>height</key>
				<integer>29</integer>
				<key>originalWidth</key>
				<integer>21</integer>
				<key>originalHeight</key>
				<integer>29</integer>
				<key>x</key>
				<integer>894</integer>
				<key>y</key>
				<integer>1458</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>caopi26.png</key>
			<dict>
				<key>width</key>
				<integer>40</integer>
				<key>height</key>
				<integer>27</integer>
				<key>originalWidth</key>
				<integer>40</integer>
				<key>originalHeight</key>
				<integer>27</integer>
				<key>x</key>
				<integer>917</integer>
				<key>y</key>
				<integer>1458</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>caopi19.png</key>
			<dict>
				<key>width</key>
				<integer>29</integer>
				<key>height</key>
				<integer>14</integer>
				<key>originalWidth</key>
				<integer>29</integer>
				<key>originalHeight</key>
				<integer>14</integer>
				<key>x</key>
				<integer>959</integer>
				<key>y</key>
				<integer>1458</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>caopi18.png</key>
			<dict>
				<key>width</key>
				<integer>31</integer>
				<key>height</key>
				<integer>41</integer>
				<key>originalWidth</key>
				<integer>31</integer>
				<key>originalHeight</key>
				<integer>41</integer>
				<key>x</key>
				<integer>990</integer>
				<key>y</key>
				<integer>1458</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>caopi17.png</key>
			<dict>
				<key>width</key>
				<integer>35</integer>
				<key>height</key>
				<integer>32</integer>
				<key>originalWidth</key>
				<integer>35</integer>
				<key>originalHeight</key>
				<integer>32</integer>
				<key>x</key>
				<integer>1023</integer>
				<key>y</key>
				<integer>1458</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>caopi15.png</key>
			<dict>
				<key>width</key>
				<integer>17</integer>
				<key>height</key>
				<integer>18</integer>
				<key>originalWidth</key>
				<integer>17</integer>
				<key>originalHeight</key>
				<integer>18</integer>
				<key>x</key>
				<integer>1060</integer>
				<key>y</key>
				<integer>1458</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>caopi14.png</key>
			<dict>
				<key>width</key>
				<integer>28</integer>
				<key>height</key>
				<integer>44</integer>
				<key>originalWidth</key>
				<integer>28</integer>
				<key>originalHeight</key>
				<integer>44</integer>
				<key>x</key>
				<integer>1079</integer>
				<key>y</key>
				<integer>1458</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>caopi16.png</key>
			<dict>
				<key>width</key>
				<integer>34</integer>
				<key>height</key>
				<integer>32</integer>
				<key>originalWidth</key>
				<integer>34</integer>
				<key>originalHeight</key>
				<integer>32</integer>
				<key>x</key>
				<integer>1109</integer>
				<key>y</key>
				<integer>1458</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>caopi13.png</key>
			<dict>
				<key>width</key>
				<integer>16</integer>
				<key>height</key>
				<integer>35</integer>
				<key>originalWidth</key>
				<integer>16</integer>
				<key>originalHeight</key>
				<integer>35</integer>
				<key>x</key>
				<integer>1145</integer>
				<key>y</key>
				<integer>1458</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>caopi12.png</key>
			<dict>
				<key>width</key>
				<integer>14</integer>
				<key>height</key>
				<integer>16</integer>
				<key>originalWidth</key>
				<integer>14</integer>
				<key>originalHeight</key>
				<integer>16</integer>
				<key>x</key>
				<integer>1163</integer>
				<key>y</key>
				<integer>1458</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>caopi11.png</key>
			<dict>
				<key>width</key>
				<integer>15</integer>
				<key>height</key>
				<integer>20</integer>
				<key>originalWidth</key>
				<integer>15</integer>
				<key>originalHeight</key>
				<integer>20</integer>
				<key>x</key>
				<integer>1179</integer>
				<key>y</key>
				<integer>1458</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>caopi10.png</key>
			<dict>
				<key>width</key>
				<integer>25</integer>
				<key>height</key>
				<integer>42</integer>
				<key>originalWidth</key>
				<integer>25</integer>
				<key>originalHeight</key>
				<integer>42</integer>
				<key>x</key>
				<integer>1196</integer>
				<key>y</key>
				<integer>1458</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>caopi9.png</key>
			<dict>
				<key>width</key>
				<integer>16</integer>
				<key>height</key>
				<integer>29</integer>
				<key>originalWidth</key>
				<integer>16</integer>
				<key>originalHeight</key>
				<integer>29</integer>
				<key>x</key>
				<integer>1223</integer>
				<key>y</key>
				<integer>1458</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>caopi7.png</key>
			<dict>
				<key>width</key>
				<integer>34</integer>
				<key>height</key>
				<integer>44</integer>
				<key>originalWidth</key>
				<integer>34</integer>
				<key>originalHeight</key>
				<integer>44</integer>
				<key>x</key>
				<integer>1241</integer>
				<key>y</key>
				<integer>1458</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>caopi8.png</key>
			<dict>
				<key>width</key>
				<integer>16</integer>
				<key>height</key>
				<integer>10</integer>
				<key>originalWidth</key>
				<integer>16</integer>
				<key>originalHeight</key>
				<integer>10</integer>
				<key>x</key>
				<integer>1277</integer>
				<key>y</key>
				<integer>1458</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>caopi27.png</key>
			<dict>
				<key>width</key>
				<integer>12</integer>
				<key>height</key>
				<integer>18</integer>
				<key>originalWidth</key>
				<integer>12</integer>
				<key>originalHeight</key>
				<integer>18</integer>
				<key>x</key>
				<integer>1295</integer>
				<key>y</key>
				<integer>1458</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>caopi25.png</key>
			<dict>
				<key>width</key>
				<integer>15</integer>
				<key>height</key>
				<integer>16</integer>
				<key>originalWidth</key>
				<integer>15</integer>
				<key>originalHeight</key>
				<integer>16</integer>
				<key>x</key>
				<integer>1309</integer>
				<key>y</key>
				<integer>1458</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>caopi28.png</key>
			<dict>
				<key>width</key>
				<integer>8</integer>
				<key>height</key>
				<integer>7</integer>
				<key>originalWidth</key>
				<integer>8</integer>
				<key>originalHeight</key>
				<integer>7</integer>
				<key>x</key>
				<integer>1326</integer>
				<key>y</key>
				<integer>1458</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>caopi24.png</key>
			<dict>
				<key>width</key>
				<integer>47</integer>
				<key>height</key>
				<integer>58</integer>
				<key>originalWidth</key>
				<integer>47</integer>
				<key>originalHeight</key>
				<integer>58</integer>
				<key>x</key>
				<integer>1336</integer>
				<key>y</key>
				<integer>1458</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>caopi5.png</key>
			<dict>
				<key>width</key>
				<integer>25</integer>
				<key>height</key>
				<integer>25</integer>
				<key>originalWidth</key>
				<integer>25</integer>
				<key>originalHeight</key>
				<integer>25</integer>
				<key>x</key>
				<integer>1385</integer>
				<key>y</key>
				<integer>1458</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>caopi6.png</key>
			<dict>
				<key>width</key>
				<integer>36</integer>
				<key>height</key>
				<integer>52</integer>
				<key>originalWidth</key>
				<integer>36</integer>
				<key>originalHeight</key>
				<integer>52</integer>
				<key>x</key>
				<integer>1412</integer>
				<key>y</key>
				<integer>1458</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>caopi4.png</key>
			<dict>
				<key>width</key>
				<integer>15</integer>
				<key>height</key>
				<integer>25</integer>
				<key>originalWidth</key>
				<integer>15</integer>
				<key>originalHeight</key>
				<integer>25</integer>
				<key>x</key>
				<integer>1450</integer>
				<key>y</key>
				<integer>1458</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>caopi1.png</key>
			<dict>
				<key>width</key>
				<integer>22</integer>
				<key>height</key>
				<integer>17</integer>
				<key>originalWidth</key>
				<integer>22</integer>
				<key>originalHeight</key>
				<integer>17</integer>
				<key>x</key>
				<integer>1467</integer>
				<key>y</key>
				<integer>1458</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>caopi3.png</key>
			<dict>
				<key>width</key>
				<integer>22</integer>
				<key>height</key>
				<integer>32</integer>
				<key>originalWidth</key>
				<integer>22</integer>
				<key>originalHeight</key>
				<integer>32</integer>
				<key>x</key>
				<integer>1491</integer>
				<key>y</key>
				<integer>1458</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>caopi2.png</key>
			<dict>
				<key>width</key>
				<integer>17</integer>
				<key>height</key>
				<integer>18</integer>
				<key>originalWidth</key>
				<integer>17</integer>
				<key>originalHeight</key>
				<integer>18</integer>
				<key>x</key>
				<integer>1515</integer>
				<key>y</key>
				<integer>1458</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>caopit24.png</key>
			<dict>
				<key>width</key>
				<integer>300</integer>
				<key>height</key>
				<integer>300</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>300</integer>
				<key>x</key>
				<integer>1534</integer>
				<key>y</key>
				<integer>1458</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>caopi0.png</string>
			<key>realTextureFileName</key>
			<string>caopi0.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>